---
layout: page
---
{% if form %}
<section class="form">
<form action="">
    {% for set in form %}
    <fieldset>
    <legend>{{ set.set }}</legend>
    {% for item in set.items %}
    {% if item.type == "radio" or item.type == "checkbox" %}
    <div class="form_checkbox">
        <span>{{ item.name }}</span>
        {% for option in item.options %}
        <div class="form_checkbox_item">
            <label>
                <input type="{{ item.type }}">
                <span>{{ option }}</span>
            </label>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <label class="form_input">
        <span>{{ item.name }}</span>
        {% if item.type == "select" %}
        <select name="{{ item.name }}" id="{{ item.name | downcase | replace: ' ', '_' }}" {% if item.required %}{{ 'required' }}{% endif %}>
            {% for option in item.options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        {% elsif item.type == "textarea" %}
        <textarea name="{{ item.name }}" id="{{ item.name | downcase | replace: ' ', '_' }}"  rows="5" placeholder="{{ item.name }}" {% if item.required %}{{ 'required' }}{% endif %}>
            {%- if item.content -%}
            {{ item.content }}
            {%- endif -%}
        </textarea>
        {% else %}
        <input type="{%- if item.type -%}{{ item.type }}{%- else -%}{{ 'text' }}{%- endif -%}" name="{{ item.name }}" id="{{ item.name | downcase | replace: ' ', '_' }}" placeholder="{{ item.name }}" {% if item.required %}{{ 'required' }}{% endif %}>
        {% endif %}
    </label>
    {% endif %}
    {% endfor %}
    </fieldset>
    {% endfor %}
</form>
</section>
{% endif %}