---
import MainLayout from './main.astro'
import Header from '$components/article/header.astro'

const { content } = Astro.props
---
<MainLayout title={content.title}>
    <article>
        <Header title={content.title} image={content.image} subtitle={content.subtitle} profile={content.profile}/>
        <main id="content">
            <slot/>
        </main>
    </article>
</MainLayout>

<style lang="scss">
    article {
        @apply max-w-screen-lg mx-auto px-4 pb-24;
    }
    #content {
        @apply prose max-w-none;
    }
</style>